#banner {
    padding: 3rem 0rem;
}

.card {
    margin: auto;
}

.card-header img {
    float: left;
    border-radius: 50%;
    width: 2rem;
    padding: 0px 5px;
}

.card-header p {
    font-size: 1rem;
    color: #eee;
    margin: 0;
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
}

a:link, a:visited {
  color: #ccc;
  text-decoration: none;
}